.title {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 24px;
}
.recommended_title {
  display: flex;
  align-items: center;
}
.arrow_rigth {
  margin-bottom: 8px;
  margin-right: 4px;
  height: 16px;
  width: 16px;
  color: var(--primary-grey-color);
}
.picture {
  display: block;
  margin-bottom: 24px;
}
.thumb {
  display: flex;
  width: 300px;
  height: 86px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--primary-black-second-color);
  border-radius: 12px;
  margin-bottom: 20px;
}

.thumb:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}

.icon {
  margin-right: 20px;
  width: 46px;
  height: 46px;
}
.description {
  display: flex;
}
.name {
  margin-bottom: 2px;
  font-size: 18px;
  list-style: none;
}
.calories {
  font-size: 14px;
  color: var(--primary-grey-color);
  list-style: none;
}
.amount {
  margin-right: 6px;
  font-size: 14px;
  list-style: none;
}

@media screen and (min-width: 834px) {
  .title {
    padding-top: 24px;
    padding-bottom: 20px;
    font-size: 30px;
  }
  .arrow_rigth {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .picture {
    display: block;
    width: 380px;
    height: 396px;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
  }
  .thumb {
    width: 380px;
  }
  .wrapperTablet {
    display: grid;
    width: 780px;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    padding-top: 20px;
    padding-bottom: 24px;
    font-size: 30px;
  }
  .picture {
    display: block;
    width: 536px;
    height: 560px;
  }
  .thumb {
    width: 328px;
  }

  .wrapperTablet {
    width: 676px;
  }
  .wrapperDesktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1256px;
    column-gap: 44px;
    margin-left: auto;
    margin-right: auto;
  }
}
