
.title {
    padding-top: 16px;
padding-bottom: 16px;
font-size: 24px;
}
.picture {
    display: block;
    margin-bottom: 24px;
}
.thumb {
    display: flex;
    width: 300px;
    height: 86px;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--primary-black-second-color);
    border-radius: 12px;
    margin-bottom: 20px;
}
.icon {
    margin-right: 20px;
}
.description {
    display: flex;
}
.name {
    margin-bottom: 2px;
font-size: 18px;
}
.calories {
    font-size: 14px;
    color: var(--primary-grey-color);
}
.amount {
    margin-right: 6px;
    font-size: 14px;
}

@media screen and (min-width: 834px) {

    .title {
        padding-top: 24px;
        padding-bottom: 20px;
        font-size: 30px;
        }
        .picture {
            display: block;
            width: 380px;
            height: 396px;
            margin-bottom: 28px;
            margin-left: auto;
            margin-right: auto;
        }
        .thumb {
            width: 380px;
        }
        .wrapperTablet{
            display: grid;
            width: 780px;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
         margin-left: auto;
            margin-right: auto; 
        }
}

 @media screen and (min-width: 1440px)  {
        
        .title {
            padding-top: 20px;
            padding-bottom: 24px;
            font-size: 30px;
            }
            .picture {
                display: block;
                width: 536px;
                height: 560px;
            }
            .thumb {
                width: 328px;
            }
            .wrapperDesktop {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 1256px;
                column-gap: 44px;
                margin-left: auto;
                margin-right: auto;
            }

}