.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  /* outline: 1px solid #b6b6b6; */
  box-sizing: border-box;
}

@media (min-width: 834px) {
  .container {
    width: 834px;
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
