.wellcome {
    padding-top: 24px;
}

.image {
    width: 300px;
    margin-bottom: 0;
    display: block;
}

.info {
    margin-top: 24px;
}

.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.subTitle {
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--primary-grey-color);
}

.buttons {
    margin-top: 24px;
}

.btnActive {
    height: 36px;
    width: 142px;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    margin-right: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-black-second-color);
    background-color: var(--primary-green-lite-color);
}

.btn {
    height: 20px;
    width: 122px;
    padding: 0;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-white-color);
    background-color: transparent;
}

.benefits {
    margin-top: 40px;
}

.benefitsList {
    padding-left: 20px;
    margin: 0;
}

.benefitsItem {
    margin-bottom: 16px;
}

.benefitsName {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

@media (min-width: 834px) {
    .wellcome {
        padding-top: 40px;
    }
    .image {
        width: 380px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .info {
        width: 444px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title {
        font-size: 30px;
        line-height: 36px;
    }
    .subTitle {
        width: 400px;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
    }
    .btnActive {
        width: 212px;
    }
    .benefitsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .benefits {
        margin-top: 80px;
        width: 436px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
} 

@media (min-width: 1440px) {
    .wellcome {
        display: flex;
    }
    .image {
        margin-left: 116px;
        margin-right: 104px;
        width: 592px;
        height: 588px;
    }
    .info {
        margin-top: 80px;
        margin-left: 0;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .subTitle {
        text-align: start;
    }
    .benefitsList {
        flex-direction: column;
    }
    .benefits {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}