.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 5, 5, 0.8);
  z-index: 99999;
}

.modal {
  width: 300px;
  height: 558px;
  border-radius: 12px;
  background-color: var(--primary-black-second-color);
  padding: 16px 12px;
}
/* .section {
    padding: 16px 12px 40px 12px;
  } */
.diary_wrapper_title {
  display: flex;
  margin-top: 24px;
  line-height: 30px;
  margin-bottom: 16px;
}

.diary_title {
  margin-left: 12px;
}

.formMeal {
  width: 100%;
  margin-bottom: 24px;
}

.diary_breakfast_list {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 5px;
}

.diary_breakfast_item:not(:last-child) {
  margin-bottom: 16px;
}
.diary_add_meal {
  color: var(--secondary-yellow-color);
  font-size: 14px;
  line-height: 2px;
}
.btnActive {
  height: 36px;
  width: 276px;
  padding: 8px 10px;
  border-radius: 10px;
  border: none;
  margin-right: 16px;
  margin-top: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-black-second-color);
  background-color: var(--primary-green-lite-color);
}

.btn {
  height: 36px;
  width: 276px;
  padding: 0;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-white-color);
  background-color: transparent;
}

.buttons {
  display: flex;
  flex-direction: column-reverse;
}

.diary_breakfast_item {
  width: 100%;
  height: 36px;
  color: var(--primary-grey-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--primary-black-second-color);
  border-radius: 12px;
  border: 1px solid var(--primary-green-lite-color);
  padding: 8px 10px;
}

.formDiv {
  height: 288px;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 834px) {
  .formDiv {
    height: 192px;
  }

  .btnActive {
    margin-top: 13px;
    width: 212px;
    margin-right: 0;
  }

  .btn {
    margin-top: 13px;
    width: 204px;
  }

  .modal {
    width: 676px;
    height: 408px;
    padding: 24px;
  }
  .formMeal {
    display: flex;
    flex-direction: column;
    width: 628px;
    /* flex-wrap: wrap; */
  }

  .diary_breakfast {
    display: flex;
  }

  .diary_breakfast_item {
    display: block;
    width: 100%;
    padding: 8px 10px;
  }

  .buttons {
    /* display: inline-block; */
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }

  .diary_breakfast_list {
    display: flex;
    height: 36px;
    margin-bottom: 5;
  }
  /* .diary_breakfast_item:nth-child(-n + 2) {
    width: 100%;
  } */
  .diary_breakfast_item:not(:last-child) {
    margin-right: 12px;
  }

  .diary_breakfast_item[id='name'] {
    width: 255px;
    font-size: 14px;
  }

  .diary_breakfast_item[id='carbonohidrates'] {
    width: 100px;
    font-size: 14px;
  }

  .diary_breakfast_item[id='protein'] {
    width: 86px;
    font-size: 14px;
  }

  .diary_breakfast_item[id='fat'] {
    width: 61px;
    font-size: 14px;
  }

  .diary_breakfast_item[id='calories'] {
    width: 78px;
    font-size: 14px;
  }

  .diary_add_meal_wrapper {
    margin-bottom: 136px;
  }
  .buttons_wrapper {
    margin-right: 0 auto;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .modal {
    width: 676px;
    height: 408px;
    padding: 24px;
  }
  .formMeal {
    display: flex;
    width: 628px;
    /* flex-wrap: wrap; */
  }

  .diary_breakfast_item {
    display: block;
    /* width: 100%; */
    padding: 8px 10px;
  }

  .diary_breakfast_list {
    display: flex;
    /* width: 100%; */
  }

  /* .diary_breakfast_item:first-child {
    width: 100%;
  } */
  /* .diary_breakfast_item:not(:last-child) {
    margin-right: 12px;
  } */
  .diary_add_meal_wrapper {
    margin-bottom: 136px;
  }
  .buttons_wrapper {
    /* display: flex; */
    margin-right: 0 auto;
    align-items: center;
  }
}
