.goalContainer {
  padding: 24px 10px 60px;
  border: solid white;
  box-sizing: border-box;
}

.goalImg {
  width: 300px;
  height: 290px;
}
.goalTitle {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 24px;
  margin-bottom: 16px;
}

.goalText {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: 24px;
}

.goalForm {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin: 0 auto;
}

.goalFormText {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42;
}
.goalFormRadio:checked,
.goalFormRadio:not(checked) {
  position: absolute;
  left: -9999px;
}

.customCheked {
  display: inline-block;
  margin-right: 8px;

  width: 12px;
  height: 12px;

  border-radius: 50%;
  border: 1px solid #b6b6b6;
  box-sizing: border-box;
  cursor: pointer;
}

.goalFormRadio:checked + .customCheked {
  border: 0;
  background-color: #e3ffa8;
  background: url(./radioCheked.svg);
}

.goalButton {
  color: var(--color-primary-black-2, #0f0f0f);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
  cursor: pointer;
  width: 280px;
  padding: 8px 10px;
  border-radius: 12px;
  background: var(--color-primary-green-lite, #e3ffa8);
}

@media screen and (min-width: 768px) {
  .goalContainer {
    padding: 40px 10px 60px;
    text-align: center;
  }

  .goalImg {
    width: 380px;
    height: 368px;
  }

  .goalTitle {
    font-size: 30px;
    line-height: 1.2;
    margin-top: 60px;
  }

  .goalText {
    font-size: 22px;
    line-height: 1.45;
  }

  .goalForm {
    width: 444px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 24px;
  }

  .goalFormText {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42;
  }

  .goalButton {
    color: var(--color-primary-black-2, #0f0f0f);
    text-align: center;
    line-height: 1.42;
    width: 360px;
  }
}

@media screen and (min-width: 1440px) {
  .goalContainer {
    display: flex;
    justify-content: center;
    column-gap: 104px;
    margin: 0 auto;
    padding: 40px 10px 60px;
  }

  .goalImg {
    width: 600px;
    height: 574px;
  }

  .goalInfoContainer {
    text-align: left;
    margin-top: 120px;
  }

  .goalTitle {
    margin-top: 0;
  }

  .goalForm {
    width: 444px;
    flex-direction: column;
    margin: 0;
    row-gap: 16px;
  }

  .goalButton {
    width: 192px;
    margin-top: 8px;
  }
}
