.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: relative;
}
.header_action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 8px;
  @media screen and (min-width: 834px) {
    gap: 40px;
    width: auto;
  }
  @media screen and (min-width: 1440px) {
    gap: 80px;
  }
}
a {
  color: white;
  outline: none;
  text-decoration: none;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 12px;
  line-height: 16px;
}
p {
  margin: 0;
}
.button {
  background-color: transparent !important;
  border: none !important;
  border-radius: 16px;
  height: 48px;
  width: auto;
  padding: 0;
}
.button:hover {
  background-color: transparent;
  border: none;
}
.button::after {
  display: none;
}
.button:focus-visible {
  box-shadow: none;
  color: rgba(227, 255, 168, 1);
}
.modal {
  position: relative;
  border-radius: 12px;
  background-color: #0f0f0f;
  box-shadow: 0px 4px 14px 0px rgba(227, 255, 168, 0.2);
  padding: 24px;
}
.mobile_modal {
  width: 302px;
}
