.dashboardSection {
  padding: 16px 0px 0px;
  background-color: var(--primary-black-color);
}

.dashboardHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 16px;
}

.dashboardDateQuery {
  display: flex;
  align-items: center;
  gap: 8px;
}

.arrowDown {
  transform: rotate(180deg);
}

.dateQueryContainer {
  position: relative;
}

.dateQuery {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* .dateQueryButton {
	transition: ;
} */

.arrowDown {
  width: 16px;
  height: 16px;
}

.dateQueryText {
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0em;
  color: var(--primary-white-color);
}

.dateQuerySecondaryButton {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  top: 40px;
  left: 0px;
  z-index: 5;
  background-color: var(--primary-black-second-color);
  width: 180px;
  height: 64px;
  padding: 16px 0px 16px 12px;
  border: none;
  border-radius: 12px;
  outline: none;
  color: var(--primary-white-color);
  font-family: inherit;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 0em;
  box-shadow: 0px 4px 14px 0px #e3ffa833;
  cursor: pointer;
}

.arrowDownRotated .dateQuerySecondaryButton {
  display: flex;
}

.dateQueryButton {
  width: 16px;
  height: 16px;
}

.dateQueryButton,
.goBackButton {
  padding: 0;
  background-color: var(--primary-black-color);
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.goBackButton {
  width: 16px;
  height: 16px;
}

.goBackButtonLink {
  display: flex;
  align-items: center;
  margin: 0;
}

.dashboardMonth {
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: 0em;
}

.blockHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blockHeadingText {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.44;
  letter-spacing: 0em;
  color: var(--primary-white-color);
}

.blockAverageValue {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0em;
  color: var(--primary-white-color);
  display: flex;
  align-items: center;
}

.blockAverageValueSpan {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin: 0;
  color: var(--primary-grey-color);
  margin-left: 8px;
}

.dashboardContainer {
  overflow-x: auto;
}

.caloriesBlock,
.waterBlock {
  margin-bottom: 27px;
}

.caloriesBlock,
.waterBlock,
.weightBlock {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.caloriesDashboard,
.waterDashboard {
  width: 676px;
  height: 382px;
  background-color: var(--primary-black-second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 12px;

  padding: 25px 31px 24px 14px;
}

/* TODO */

.dashboardContent canvas {
  width: 600px;
  background-color: #0f0f0f;
  margin: 0 auto;
}

.weightDashboardList {
  display: flex;
  justify-content: space-between;
  gap: 23px;
  background-color: var(--primary-black-second-color);
  padding: 24px 21px 36px 21px;
  overflow-x: auto;
  border-radius: 12px;
}

.weightDashboardListYear {
  display: flex;
  justify-content: space-between;

  background-color: var(--primary-black-second-color);
  padding: 24px 21px 36px 21px;
  overflow-x: auto;
  border-radius: 12px;
}

.weightDashboardKg {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0em;
}

.weightDashboardKgYear {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0em;
  margin-bottom: 16px;
}

.weightDashboardDate {
  color: var(--primary-grey-color);
}

.weightDashboardList li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0em;
}

.weightDashboardListYear li {
  width: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0em;
}

/* TABLET */

@media (min-width: 834px) {
  .dashboardSection {
    padding-top: 24px;
  }

  .dashboardHeading,
  .dashboardDateQuery {
    gap: 12px;
  }

  .goBackButton,
  .arrowBack {
    width: 24px;
    height: 24px;
  }

  .dateQueryText {
    gap: 12px;
    font-size: 30px;
    line-height: 1.2;
  }

  .dateQuerySecondaryButton {
    width: 212px;
  }

  .dashboardMonth {
    font-size: 18px;
    line-height: 1.33;
  }

  .blockHeading {
    justify-content: flex-start;
  }

  .blockHeadingText {
    font-size: 22px;
    line-height: 1.45;
    margin-right: 40px;
  }

  .caloriesBlock,
  .waterBlock {
    margin-bottom: 40px;
  }

  .caloriesDashboard,
  .waterDashboard {
    width: 780px;
    margin-bottom: 0px;
  }

  .weightDashboardList {
    gap: 6px;
    margin-bottom: 0;
  }

  .weightDashboard {
    width: 780px;
    margin-bottom: 0px;
  }
}

/* DESKTOP */

@media (min-width: 1440px) {
  .weightDashboardListYear {
    padding: 24px 24px 36px 24px;
  }
  .dashboardSection {
    padding-top: 20px;
  }

  .dashboardBlockContent {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  .caloriesBlock,
  .waterBlock {
    margin-bottom: 0px;
  }

  .caloriesDashboard {
    width: 676px;
    padding: 25px 20px 24px 14px;
  }

  .dashboardContent {
    width: 642px;
    height: 333px;
  }

  .waterDashboard {
    width: 676px;
    padding: 25px 20px 24px 14px;
  }

  .weightDashboardList {
    gap: 23px;
  }

  .weightDashboard {
    width: 1372px;
    padding-bottom: 36px;
  }
}
