.auth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    height: 26px;
  }
  .sign {
    display: flex;
    align-items: center;
    margin-right: 6px;
  }

  .profile {
    width: 26px;
    height: 26px;
  }
  .link{
    font-size: 12px;
    font-weight: 400;
    line-height:1.33;
    @media screen and (min-width: 834px){
      font-size: 14px;
      line-height:1.42;
    }
  }
