.login {
    padding-top: 24px;
}

.image {
    width: 300px;
    margin-bottom: 0;
    display: block;
}

.title {
    margin-top: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.subTitle {
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--primary-grey-color);
}

.form {
    margin-top: 24px;
}

.input {
    width: 300px;
    height: 36px;
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background-color: var(--primary-black-second-color);
    border-radius: 12px;
    border: 1px solid var(--primary-green-lite-color);
    padding: 8px 10px;
}

.input::placeholder {
  color: var(--primary-grey-color);
}

.inputDiv {
  margin-bottom: 16px;
  position: relative;
}

.showPasswordBtn, 
.error, 
.correct {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 16px;
    width: 16px;
}

.notValid {
  color: #e74a3b;
  margin-top: 4px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.valid {
  color: #3cbc81;
  margin-top: 4px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.btn {
    width: 300px;
    height: 36px;
    color: var(--primary-black-second-color);
    background-color: var(--primary-green-lite-color);
    border: transparent;
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

.forgot {
    color: var(--primary-grey-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 80px;
    text-align: center;
}

.text {
    color: var(--primary-grey-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
}

.signUpBtn {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

@media (min-width: 834px) {
    .login {
        padding-top: 40px;
    }
    .image {
        width: 380px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .signIn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        margin-top: 60px;
        font-size: 30px;
        line-height: 36px;
    }

    .subTitle {
        font-size: 22px;
        line-height: 32px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .input {
        width: 380px;
    }

    .btn {
        width: 380px;
    }

    .forgot {
        margin-bottom: 250px;
    }

    .footerText {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text {
        margin-bottom: 0;
        margin-right: 16px;
    }
}

@media (min-width: 1440px) {
    .login {
        display: flex;
    }

    .image {
        margin-left: 116px;
        margin-right: 104px;
        width: 592px;
        height: 588px;
    }

    .signIn {
        margin-top: 80px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .title {
        margin-top: 0;
    }

    .input {
        width: 212px;
    }

    .btn {
        width: 212px;
    }

    .forgot {
        margin-bottom: 212px;

    }

    .footerText {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
}